/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*body {*/
/*  background-image: url('images/1_HvVN6uD1NDWVA57cqppKcw.jpg'); !* background image *!*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-attachment: fixed;*/
/*  z-index: -1; !* make sure the background image is behind the content *!*/
/*}*/

.header-bar {
  background: linear-gradient(to right, rgba(86,106,98,0.5), rgba(117,174,211,0.5)); /* dark blue */
  padding: 1px; /* small space around the header */
  text-align: left; /* left-align the text */
  margin-top: 50px; /* large space between the top of the page and the header */
}

.header-bar .name {
  font-size: 2.5em; /* large font size */
  font-weight: bold; /* bold text */
  margin-bottom: 1px; /* small space between this and the next element */
  padding-left: 100px; /* add space to the left of the text */
  font-family: "Calibri Light", sans-serif; /* fallback font */
  color: #ffffff; /* white */
}

.header-bar .subtitle {
  font-size: 1.8em; /* slightly larger than normal font size */
  margin-top: 1px; /* small space between this and the previous element */
  padding-left: 100px; /* add space to the left of the text */
  color: #ffffff; /* white */
  font-family: "Calibri Light", sans-serif; /* fallback font */
}

main {
  margin-top: 100px; /* large space between the header and the main content */
  background-color: rgba(255, 255, 255, 0.5); /* white with 50% opacity */
  z-index: 1; /* make sure the content is on top of the background image */
}

.profile-section {
  display: flex;
  justify-content: space-between;
  width: 750px; /* adjust as needed */
  margin: 0 auto 100px auto;
}

.img-profile {
  width: 35%; /* adjust as needed */
  height: auto; /* maintain aspect ratio */
  margin: auto auto; /* center the image */
  display: block; /* remove any extra space around the image */
  margin-left: 20px;
}

.about-me {
  font-family: "Calibri Light", sans-serif; /* fallback font */
}

.contact-links a {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.contact-links img {
  height: 30px; /* set a width for the logos */
  width: auto; /* maintain aspect ratio */
  margin-right: 10px; /* add some space between the logos */
  padding: 0;
}

.contact-links img:hover {
  transform: scale(1.05); /* make the logos slightly larger on hover */
}

.publications {
  width: 750px;
  margin: 0 auto 100px auto;
  font-family: "Calibri Light", sans-serif;
  padding-top: 20px; /* add some space at the bottom of the section */
  border-top: 1px solid #ccc; /* add a border at the bottom of the section */

}

.publication {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
}

.publication-content {
  flex: 1; /*1 auto*/;
}

.publication:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.publication h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.publication h4 {
  font-size: 1.2em; /* adjust as needed */
  font-weight: normal;
  font-style: italic; /* italicize the text */
}

.publication a {
  display: block;
  font-size: 1em;
  color: #0000EE;
  text-decoration: underline;
}

.publication .contact-links img {
  height: 20px;
  width: auto;
  margin-right: 10px; /* add some space between the logos */
  padding: 0;
}

.publication .contact-links a {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.publication img {
  width: 50%;
  height: auto;
  flex: 1;
  margin-right: 20px;
}


.experiences {
  width: 750px; /* make the experiences section as wide as the about-me section */
  margin: 0 auto 100px auto; /* center the experiences section */
  font-family: "Calibri Light", sans-serif; /* same font as the about-me section */
  padding-top: 20px; /* add some space at the bottom of the section */
  border-top: 1px solid #ccc; /* add a border at the bottom of the section */
}

.experience {
  position: relative; /* position the date relative to the box */
  padding: 20px; /* add some space inside the box */
  border: 1px solid #ccc; /* add a border around the box */
  border-radius: 5px; /* round the corners of the box */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* add a drop shadow to create a floating effect */
  margin-bottom: 30px; /* add some space between each box */
  background-color: #fff; /* set the background color of the box */
}

.experience:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* make the shadow slightly darker on hover */
}

.experience h3 {
  font-size: 1.2em; /* adjust as needed */
  font-weight: bold;
}

.experience h4 {
  font-size: 1.2em; /* adjust as needed */
  font-weight: normal;
  font-style: italic; /* italicize the text */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8; /* light gray */
}

.affiliations {
  text-align: left; /* left-align the text */
  padding-left: 100px; /* add space to the left of the text */
  margin-top: 10px; /* small space between this and the previous element */
  margin-bottom: 10px; /* small space between this and the next element */
}

.affiliations img {
  height: 50px; /* adjust as needed */
  width: auto; /* maintain aspect ratio */
  margin-right: 10px; /* small space to the right of the image */
}

@media only screen and (max-width: 1500px) {
  .header-bar .name {
    font-size: 2em;
    padding-left: 50px;
  }

  .header-bar .subtitle {
    font-size: 1.5em;
    padding-left: 50px;
  }

  .affiliations {
    padding-left: 50px;
  }

  .affiliations img {
    height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  /* Your CSS for mobile devices goes here */
  .header-bar .name {
    font-size: 1.5em;
    padding-left: 20px;
  }

  .header-bar .subtitle {
    font-size: 1.2em;
    padding-left: 20px;
  }

  .profile-section {
    flex-direction: column-reverse;
    width: 100%;
  }

  .img-profile {
    width: 100%;
    margin: 0;
  }

  .about-me, .publications, .experiences {
    width: 100%;
  }

  .publication {
    flex-direction: column;
  }

  .publication img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .affiliations {
    padding-left: 20px;
  }

  .affiliations img {
    height: 20px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

